<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/views/assets/style.css" type="text/css">
</head>
<body>
    <%- include("partials/navbar copy") %>
    <h1 style="text-align: center;">Detail of the Restaurant : </h1>
    <div class="detail">
        <ul> 
            <li><pre>Name     : "<%= resto.resto_product.name %>"</pre></li>
            <li><pre>Category : <%= resto.resto_product.category %></pre></li>
            <li><pre>Product  : <%= resto.resto_product.products %></pre></li>
            <li><pre>Price    : Rp.<%= resto.resto_product.price %></pre></li>
        </ul>
    </div>
    <br>
    <a style="margin:48%" href="/dashboard">Back</a>
</body>
</html>