<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/views/assets/style.css" type="text/css">
</head>
<body>
    <%- include("partials/navbar copy") %>
    <h1 style="text-align: center;">Update the Restaurant : </h1>
    <form class="edit" action="/edit/<%= resto.id %>" method="post" >
        <div>
            <label for="username">Owner :</label>
        </div>
        <div>
            <input name="username" type="text" value="<%= resto.username %>">
        </div>
        <div>
            <label for="email">Email :</label>
        </div>
        <div>
            <input name="email" type="email" value="<%= resto.email %>">
        </div>
        <div>
            <label for="name">Name :</label>
        </div>
        <div>
            <input name="name" type="text" value="<%= resto.resto_product.name %>">
        </div>
        <div>
            <label for="category">Category :</label>
        </div>
        <div>
            <input name="category" type="text" value="<%= resto.resto_product.category %>">
        </div>
        <div>
            <label for="products">Product :</label>
        </div>
        <div>
            <input name="products" type="text" value="<%= resto.resto_product.products %>">
        </div>
        <div>
            <label for="price">Price :</label>
        </div>
        <div>
            <input name="price" type="text" value="<%= resto.resto_product.price %>">
        </div>
        <br>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
    <br>
    <a style="margin:48%" href="/dashboard">Back</a>
</body>
</html>